body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.horndiv{
  box-sizing: border-box;
  border: 1px black solid;
  width : 400px;
  margin: 0 auto;
  padding-bottom: 7px;
  font-family: 'Times New Roman', Times, serif;
 
}

.img{
  height: 250px;
  width: 300px;
}
.head{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 15px;
 font-family: 'Times New Roman', Times, serif;

}
.foot{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 15px;
 font-family: 'Times New Roman', Times, serif;

}


.horn{

  font-family: 'Times New Roman', Times, serif;
 
}